
.title {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 8px;
  /* margin-left: 3rem; */
  margin: 1rem 0;
  align-items: center;
}


.title h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.title-icon {
  font-size: 1.6rem;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #b2c2b1;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #4b8c4a;
  outline: none;
  box-shadow: 0 0 5px rgba(75, 140, 74, 0.3);
}

button[type="submit"] {
  padding: 0.75rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #33420B;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-items: center;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #3a6d39;
}

/* Chart styling */
.chart {
  margin-top: 20px;
}

.chart-title {
  font-size: 1.4rem;
  color: #2d5e2e;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.apexcharts-tooltip {
  background-color: #4b8c4a !important;
  color: #ffffff !important;
  font-weight: bold;
}

/* Tips Section */
.content2 {
  margin-top: 30px;
}

.tips {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tips h2 {
  color: #2d5e2e;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.tips p {
  color: #333;
  line-height: 1.5;
}


.overlay-dark {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  z-index: 999; /* Ensure it covers content */
  pointer-events: none; /* Allow clicks to pass through */
}