.funfacts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  background: linear-gradient(
    to bottom right,
    #86b334 0%,
    #689f38 50%,
    #689f38 75%,
    #8fbf38 100%
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 20px;
  margin-left: 20px;
}
.funFactstitle{
  text-align: center;
}
.funfacts-container::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: auto;
  opacity: 0.8;
}

.funFactsDiv {
  align-self: normal;
  color: white;
  justify-content: center;
}

.fun-fact-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.fact-item {
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  padding: 0.5rem;
}

@media screen and (min-width: 1250px) {
  .funfacts-container {
    height: clamp(486px, 30vw, 490px);
  }
}
