.containerlogin{
    
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 20vh;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}
.containersignup{
    
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 10vh;
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
}

/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}



/* p {
    margin-bottom: 1.25rem;
    font-weight: lighter;
    color: rgb(142, 105, 105);
} */
#hvact{
    text-align: center;
}
p>b{
    font-weight: bold;
    color: black;
}
/* Links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Forms */
input, textarea, select, button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    font-size: 1rem;
}

.authBtn {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

/* Layout */


/* Flexbox utilities */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

/* Grids */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-1 {
    grid-template-columns: 1fr;
}

/* Buttons */
.btn {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 0.75rem 1.25rem;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}

.btn-primary {
    background-color: #3498db;
}

.btn-secondary {
    background-color: #2ecc71;
}

/* Utility classes */
.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.iagree{
    display: flex;
}
.iagree>input{
    padding: 0;
}