/* Global Layout */

.main-layout {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 20px;
  background-color: #fafffb;
  align-items: center;
}

/* Weather Info */
.weather-info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

/* My Farms */
.my-farms {
  grid-column: 2/11;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
}


/* Custom scrollbar for horizontal scrolling */
.farms-cards-container::-webkit-scrollbar {
  height: 0px;
}

.farms-cards-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.farms-cards-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.farms-cards-container:hover::-webkit-scrollbar-thumb {
  background: #666;
}

.tips {
  grid-column: span 4;
  padding: 20px;
  border-radius: 10px;
}

.insightsWrapper {
  display: flex;
  justify-content: space-around;
}

.dashboard-marketview {
  grid-column: span 9;
  padding: 20px;
  border-radius: 10px;
}


.market-info,
.top-crops {
  display: flex;
}

.market-info {
  margin-right: 3rem;
}




.weather-info a {
  display: flex;
  justify-content: end;
}

.MyFarmsHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MyFarmsHeading h4 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.MyFarmsHeading img {
  width: 40px;
  height: 40px;
}

.MyFarmsHeading .add-icon {
  font-size: 1.8rem;
  margin-left: 10px;
}

.weather-info a {
  display: flex;
  justify-content: end;
}


/* @media screen and (min-width: 1250px){
  element{
  }
} */

/* Responsive Design for Mobile (below 700px) */
/* @media (max-width: 850px) {
  .main-layout {
    grid-template-columns: 1fr;
  }

  .weather-info,
  .my-farms,
  .crop-info,
  .tips {
    grid-column: span 12;
    margin-bottom: 20px;
  }

  .farms-cards-container {
    padding-bottom: 15px;
  }

  .farm-card {
    min-width: 200px;
    height: auto;
    border-radius: 5px;
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.25fr;
  }

  .farm-card img.placeholderImg {
    max-width: 100%;
    max-height: 80px;
    object-fit: contain;
    border-radius: 5px;
  }
} */

/* @media (max-width: 850px) {

  .weather-info,
  .my-farms,
  .crop-info,
  .tips {
    display: grid;
    align-items: center;
    justify-content: center;
  }
} */

/* @media only screen and (max-width: 1000px) {
  .insightsWrapper,
  .dashboard-marketview,
  .weather-info {
    display: grid;
    grid-column: span 12;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .top-crops {
    display: grid;
    margin-top: 3rem;
    justify-content: center;
  }

  .location-topCrop {
    margin-bottom: 2rem;
  }

  .funFacts-Container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column: span 12;
  }
} */