/* Global Layout */
.main-layout {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 20px;
  background-color: #fafffb;
  align-items: center;
}

/* Weather Info */
.weather-info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

/* My Farms */
.my-farms {
  grid-column: 2/11;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin: 1.5rem 0;
}

/* Custom scrollbar for horizontal scrolling */
.farms-cards-container::-webkit-scrollbar {
  height: 0px;
}

.farms-cards-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.farms-cards-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.farms-cards-container:hover::-webkit-scrollbar-thumb {
  background: #666;
}

/* heading for topCropChart */
.top-crop-title {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 600;
}

.extra-info {
  margin-left: 1.5rem;
  margin-top: 1rem;
  width: max-content;
  padding-bottom: 1rem;
}


.extra-info p {
  color: #9E9E9E;
}

.content {
  margin-top: -2rem;
}

.extra-info h4 {
  font-weight: 600;
}


/*Single Tips Css on market Insights page */
.tips {
  grid-column: span 4;
  padding: 20px;
  border-radius: 10px;
}

.icon-cropName {
  display: inline-flex;
  align-items: center;
}

.icon-cropName .tip-icon {
  margin-right: 0.5rem;
}

.dashboard-marketview-part {
  grid-column: 1/9;
  padding: 20px;
  border-radius: 10px;
}

/* market insights page */
.heading {
  display: flex;
  flex-flow: column wrap;
}

.market-insights-para {
  margin-left: 5.5rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  color: gray;
}

@media (max-width: 850px) {

  .weather-info,
  .my-farms,
  .crop-info,
  .tips {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

.weather-info a {
  display: flex;
  justify-content: end;
}

.MyFarmsHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MyFarmsHeading h4 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.MyFarmsHeading img {
  width: 40px;
  height: 40px;
}

.MyFarmsHeading .add-icon {
  font-size: 1.8rem;
  margin-left: 10px;
}

.weather-info a {
  display: flex;
  justify-content: end;
}

/* marketView section */
.dashboard-marketview-part {
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background: white;
  margin-left: 1.5rem;
}

.navigation-to-charts {
  position: absolute;
  top: 10px;
  right: 10px;
}

.market-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
  justify-content: center;
}

.main-market-container {
  grid-column: span 2;
}

.funFacts-Container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column: 10 / 11;
  align-self: baseline;
  margin-top: 0.2rem;
}

.topCropIndia-container {
  grid-column: 1 / 2;
}

.LinkToCharts {
  grid-column: 2/ 3;
  width: 100%;
}

h4 {
  font-weight: 500;
  line-height: 1.2;
}

.both-chart-container {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.container-tips-graph {
  grid-row: span 3;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px #DDDDDD;
  height: fit-content;
  margin-top: 2rem;
}

.single-tips-container {
  grid-column: 2;
}

@media only screen and (max-width: 1000px) {

  .dashboard-marketview-part,
  .weather-info {
    display: grid;
    grid-column: span 12;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .my-farms {
    display: grid;
    grid-column: span 12;
    align-items: center;
    justify-content: center;
  }

  .dashboard-marketview-part {
    margin-left: 0;
  }

  .location-topCrop {
    margin-bottom: 2rem;
  }

  /* funfacts css */
  .funFacts-Container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column: span 12;
  }

  .funfacts-container {
    display: grid;
    align-items: center;
    justify-content: center;
    width: auto;
    grid-column: span 12;
    margin: 1.4rem 0;
    text-align: center;

  }

  .funfacts-container .title {
    font-weight: bold;
    text-align: center;
  }

  /* marketInsights Dashboard */
  .both-chart-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .container-tips-graph,
  .single-tips-container {
    grid-column: 1;
    grid-row: auto;
  }

  .weather-widget {
    width: 38rem;
    max-width: none;
  }
}

@media only screen and (max-width: 900px) {
  .weather-widget {
    width: 27rem;
    max-width: 600px;
  }
}

@media only screen and (max-width: 900px) {
  .funfacts-container .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
    display: contents;
  }
}

/* @media only screen and (max-width: 780px) {
  .market-section-container {
    width: 100vw;
    align-items: center;
  }
} */




@media only screen and (max-width: 780px) {
  .weather-widget {
    width: clamp(60vw, 85vw, 30rem);
  }
}