 /* My Farms section on Homepage dashboard */

 .MyFarmsHeading {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 15px;
 }

 .MyFarmsHeading h4 {
   display: flex;
   align-items: center;
   margin: 0;
 }

 .card {
   --bs-card-border-color: transparent !important;
   border-color: transparent !important;
   margin-left: 0.2rem;
 }

 .card .farm-card {
   padding: 0;
   border: 0;
   border: var(--bs-card-border-width) solid #FFF;
 }

 .farms-cards-container {
   overflow-x: auto;
   display: flex;
   gap: 10px;
   white-space: nowrap;
   padding-bottom: 10px;
   scrollbar-width: none;
   -ms-overflow-style: none;
   -webkit-overflow-scrolling: touch;
 }

 .farms-cards-container::-webkit-scrollbar {
   display: none;
 }

 .farm-card {
   width: 20rem;
   flex: 0 0 auto;
   justify-content: space-between;
   padding: 0.5rem;
 }

 .farm-card .card-img-top {
   height: 150px;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
   border-color: white;
 }

 .card-title {
   padding: 0.3rem;
 }

 .card-text {
   margin-left: 0.4rem;
 }

 .farms-cards-container {
   display: flex;
   gap: 10px;
   overflow-x: auto;
   padding-bottom: 10px;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
   margin-top: 2rem;
 }

 .farms-cards-container::-webkit-scrollbar {
   display: none;
 }

 .col-md-4 {
   flex: 0 0 auto;
   width: unset !important;
 }


 /* My Farms page styling */
 .btn {
   font-size: 0.9em;
 }

 .myFarmsCard:focus {
   --bs-card-border-color: #96C73D !important;
 }

 .farms-card-paragraph {
   margin-left: 0.5rem;
   color: #9E9E9E;
 }

 .myFarms_info {
   display: grid;
   grid-template-columns: 2fr 0.8fr;
   box-shadow: 5px 10px 50px rgba(150, 199, 61, 0.25);
 }

 .selected-farm {
   display: grid;
   grid-template-columns: 1.3fr 2fr;
   gap: 2rem;
   border-radius: 8px;
   padding: 20px;
 }

 .selected-farm h3 {
   font-size: 1.4em;
   margin-bottom: 15px;
 }

 .selected-farm p {
   margin-bottom: 5px;
   font-size: 0.8rem;
 }

 .text-muted {
   font-size: 1em;
   color: #6c757d;
 }

 #chart {
   margin-top: 20px;
   align-content: center;
 }

 .back-icon {
   margin-right: 5px;
 }

 .sub1 img {
   height: 100%;
 }

 .btn-outline-warning,
 .btn-outline-danger {
   font-size: 0.9em;
   border-radius: 5px;
   padding: 5px 10px;
 }

 .btn-outline-warning:hover,
 .btn-outline-danger:hover {
   background-color: #ffc107;
   color: white;
 }

 .btn-outline-danger:hover {
   background-color: #dc3545;
 }


 .btn-dark {
   background-color: #000000;
   color: white;
   padding: 10px;
   border-radius: 40px;
   border: none;
   min-width: 100px;
   max-width: fit-content;
   flex: 0 1 auto;
   box-sizing: border-box;
   text-align: center;
   height: 50px;
   line-height: 25px;
 }

 .h5 {
   opacity: 0.3;
 }

 @media (max-width: 768px) {
   .col-md-4 {
     max-width: 30%;
   }

   .totalBox {
     display: grid;
     grid-template-columns: 1fr;
     align-items: center;
     gap: 20px;
     padding: 20px;
   }
 }

 .farm-card:hover {
   transform: translateY(-5px);
 }

 .card-header {
   background-color: transparent !important;
   color: black !important;
   text-align: left;
   padding: 10px;
 }

 .card-title {
   font-size: 1.25rem;
   font-weight: 600;
   margin-bottom: 5px;
 }

 .card-text {
   font-size: 1rem;
   color: black;
 }

 .delete-btn {
   background: none;
   border: none;
   color: black;
   cursor: pointer;
   padding: 0;
 }

 .delete-btn:hover {
   color: red;
 }

 .mt-3 {
   margin-top: 1rem;
 }

 .tipsBox {
   display: flex;
   align-items: center;
   padding-top: 2rem;
   /* padding: 20px; */
   background-color: #F7F7F7;
   border-radius: 30px;
   color: black;
   width: fit-content;
   max-width: 100%;
   font-size: 0.8rem;
 }

 .tipsBox h1 {
   margin-right: 10px;
   font-size: 2rem;
 }

 .MatchingTips {
   flex-grow: 1;
 }

 .greenBoxes {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
   text-align: left;
 }

 .boxHeading::first-line {
   color: #96C73D;
   font-weight: 600;
   text-align: center;
 }

 .soilBox,
 .waterBox,
 .farmBox {
   background-color: #DBEFB8;
   max-width: 100%;
   border-radius: 30px;
   align-items: center;
   padding: 20px;
   align-content: center;
 }

 .full-width-text {
   width: 100%;
   margin-bottom: 1rem;
 }

 .h5 {
   font-size: 1rem;
   opacity: 0.8;
   text-align: center;
   color: #333;

 }

 .totalBox {
   justify-content: baseline;
 }

 .my-farms .container {
   margin: 0;
 }

 .apexcharts-toolbar,
 .apexcharts-tooltip,
 .apexcharts-menu-icon,
 .apexcharts-reset-icon,
 .apexcharts-zoom-icon,
 .apexcharts-zoomin-icon,
 .apexcharts-zoomout-icon,
 .apexcharts-pan-icon {
   display: none;
 }

 .rounded-top {
   border-top-left-radius: var(--bs-border-radius) !important;
   border-top-right-radius: var(--bs-border-radius) !important;
   border-bottom-left-radius: var(--bs-border-radius) !important;
   border-bottom-right-radius: var(--bs-border-radius) !important;
 }