.carousel-container {
  display: flex;
  overflow: hidden;
  /* width: 100%; */
  white-space: nowrap;
  justify-content: flex-start;
  position: relative;
}

.cards-track {
  display: flex;
  animation: scrollInfinite 400s linear infinite; 
  transition: animation-play-state 0.5s; 
}

.card {
  min-width: 200px;
  min-height: 200px;
  margin-right: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.cards-track:hover {
  animation-play-state: paused; 
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.crop-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.crop-tips {
  font-size: 16px;
  line-height: 1.4;
}

