.apexcharts-toolbar,
.apexcharts-tooltip,
.apexcharts-menu-icon,
.apexcharts-reset-icon,
.apexcharts-zoom-icon,
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon {
  display: none;
}

.top-crop-title-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.3rem;
}

.top-crop-container{
  margin-top: 1rem;
}

.top-crop-no-data {
  margin: 3rem;
}

.top-crop-title {
  margin-bottom: 0;
}

.location-topCrop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

#state-dropdown{
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .allContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}


/* ApexLineChart.css */

.chart-container {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.chart-title {
  color: #003300;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.xaxis-title {
  font-size: 14px;
  color: #003300;
}

.xaxis-labels {
  color: #003300;
  font-size: 12px;
}

.apexcharts-gridline {
  stroke: #e0e0e0 !important;
  stroke-dasharray: 4;
}