.apexcharts-toolbar,
.apexcharts-tooltip,
.apexcharts-menu-icon,
.apexcharts-reset-icon,
.apexcharts-zoom-icon,
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon {
  display: none;
}

.top-crop-title-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.3rem;
}

.top-crop-no-data{
  margin: 3rem;
}

.top-crop-title{
  margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
  .allContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}


/* ApexLineChart.css */

.chart-container {
  padding: 20px; /* Padding around the chart */
  background-color: #f9f9f9; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.chart-title {
  color: #003300; /* Title color */
  font-weight: bold; /* Bold title */
  font-size: 16px; /* Title font size */
  margin-bottom: 20px; /* Space below the title */
  text-align: center; /* Center the title */
}

.xaxis-title {
  font-size: 14px; /* X-axis title font size */
  color: #003300; /* X-axis title color */
}

.xaxis-labels {
  color: #003300; /* X-axis labels color */
  font-size: 12px; /* X-axis labels font size */
}

/* Optional: Add styles for grid lines if needed */
.apexcharts-gridline {
  stroke: #e0e0e0 !important; /* Neutral gray color for grid lines */
  stroke-dasharray: 4; /* Dashed lines for grid */
}